/* Elements */
nav.navbar{
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    font-size: 1.3em;
}
nav.navbar.shrink {
    font-size:16px;
}
nav.navbar.shrink .navbar-brand{
    font-size: 25px;
}
body{
    position: relative;
    font-size: 16px;
    font-weight: 400;
}
section p {
    color: #000;
    font-size: 1.4em;
}
a {
    color: #0067F4;
}
a:hover {
    color: #0067F4;
}
form small {
    font-weight:400;
}
footer {
    color: #000;
    padding-top: 15px;
    padding-bottom: 10px;
}
footer p {
    padding-top:10px;
    padding-bottom:10px;
}

/* Classes */
.navbar-brand{
    font-size: 1.5em;
}
.navbar-dark .navbar-nav li .nav-link,
.navbar-brand{
    color: #fff;
}
.input-group-text{
    color: #000;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-success a {
    font-weight: 700;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-danger a {
    font-weight: 700;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-warning a {
    font-weight: 700;
}
